$whiteText:#eff0f1;
$primaryColor: #ab3d86;
$primaryColorA: #8c346e;
$secondaryColor: #883f6f;


$pageBgColor: #3c5168bf;

$headerFgColor: #788fa8;
$headerBgColor: #0b1f35;

$altColorA: #3c5168bf;


$hoverTransition: all 0.3s cubic-bezier(0.55, 0, 0.1, 1);