@import "../styles/media-queries";
@import "./hamburgers/hamburgers";

.hamburger {
  display: none;
  position: fixed;
  right: 5px;
  top: 0px;
  //padding: 15px 5px;
  z-index: 3002;
  height: 50px;
  padding: 13px 0px !important;


  .hamburger-box {
   // width: 30px;

    //height: 20px;
 


  .hamburger-inner,
  .hamburger-inner::before,
  .hamburger-inner::after {
    width: 30px;
    height: 3px;
    background-color: #bfbfbf;
    float: left;
    border-radius: 1.5px;
  }
}

  .hamburger-label {
    color: #bfbfbf;
   float: left;
    //display: flex;
    margin: 0px 10px 0 0;
  }
}

.hamburger.is-active {
  .hamburger-inner,
  .hamburger-inner::before,
  .hamburger-inner::after {
    background-color: #bfbfbf;
  }
}

@include respond-below(sm) {
  .hamburger {
    display: block;
  }
}
