@import "../styles/scss";


.aboutWrapper {
  display: block;
  max-width: 800px;
  margin: 15px auto 0;

  h2 {
    text-align: center;
    color: #eff0f1;
  }

  .aboutContent {
    display: block;
    //background-color: #f7eeee;
    //background-color: #ffffff;
    padding: 3rem 0 1.5rem;

    > div {
      padding-left: 60px;
      padding-right: 60px;
    }
    .imgWrapper {
      display: block;
      margin: 45px 0;
    }
    .imgWrapper:last-child {
      margin: 0px 0;
    }

    ul {
      li {
        margin-bottom: 15px;
      }
    }

    
    .testimonial {
      background-color: #ffffff;
      padding: 30px 60px 30px;
      margin-bottom: 30px;
      border-radius: 5px;
      width: fit-content;
      height: fit-content;
      display: inline-block;
     // display: flex;
     // border-bottom: 1px dotted #394f659e;

     a {
      display: block;
      text-decoration: none;
      }

     .testimonialImgWrapper {
       border-radius: 3px;
       overflow: hidden;
       width: 130px;
      display: block;
      float: left; 
       margin:0 30px 0px -30px;
       border: 1px solid #ffffff6b;
           }

      p.testimonialQuote::before {
        content:"\201C";
        top:23px;
        left:-25px;      
          //text-indent: -0px;
          //margin-left: -30px;

      }
      p.testimonialQuote::after {
        content:"\201D";
        bottom:-0px;
        //right:-25px;
       // white-space: nowrap;
       // display: inline;

        //right:-30px;
      }

      p.testimonialQuote::before,  p.testimonialQuote::after {
        font-size: 3.1rem;
          line-height: 0px;
          //display: block;
          position: absolute;
      }
      p.testimonialQuote {
        margin: 0 25px;
        display: inline;
        line-height: 1.3rem;
        position: relative;
        //text-indent: 30px;
      }
      p + p {
        margin: 20px 0 0 0;
        text-align: right;

        span {

        }
        text-indent: 0px;
      }
    }

    .testimonial:hover {
      transition: $hoverTransition;
      background-color: $primaryColor;
      p{
      color: #ffffff;
      }
    }
    .testimonial:last-of-type {
      margin-bottom: 0px;
    }
  }
}
