@import "../styles/scss";


.grid {}

.filterPosts {
  margin: 30px 15px 0px 15px;
  display: block;

  text-align: center;

  button {
    // margin: 0 15px 15px 0;
    margin: 0 7.5px;
    width: min-content;

    @include respond-below(sm) {
      font-size: .8rem;
    }
  }

  p {
    color: #9eb1c5;
    font-size: 0.7em;
    margin: 15px 0 5px 0;
    text-transform: uppercase;
  }
}

.item {
  opacity: 0 !important;
}



[data-sal|=fade] {
  border: 1px solid #0b1f3536;
}

.posts {
  display: grid;
  padding: 30px;
  grid-gap: 30px;
  grid-template-columns: repeat(auto-fill, minmax(175px, 1fr));
  grid-auto-rows: 0px;
  list-style-type: none;
  margin: 0;

  @include respond-below(sm) {
    padding: 15px;
    grid-gap: 15px;
  }

  @include respond-above(md) {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }

  @include respond-above(xl) {
    grid-template-columns: repeat(auto-fill, minmax(375px, 1fr));
  }
}

.post {
  height: fit-content;
  transition: all 0.2s ease-in-out;
  z-index: 5;

  overflow: hidden;
  position: relative;
  border-radius: 10px;

  //border: 1px solid $headerBgColor;
  img {
    cursor: zoom-in;
    width: max-content !important;
    height: 100% !important;

  }



  span {
    pointer-events: none;

    position: absolute;
    bottom: 60px;
    right: 10px;
    opacity: 0.75;

    svg {
      height: 30px;
      width: 35px;
    }
  }

  a {
    display: block;
    text-decoration: none;
  }

  h2 {
    color: #ffffff;
    background-color: #30465fbf;

    //background: rgb(37, 50, 64);
    //background: linear-gradient(180deg, rgba(37, 50, 64, 1) 0%, rgba(54, 74, 94, 1) 5%);
    line-height: 1.1rem;
    font-weight: 600;
    margin: 0;
    padding: 0 0.8rem;
    font-size: .9rem;
    display: flex;
    border-top: 1px solid #253240;
    justify-content: space-between;

    //justify-content: center;
    align-items: center;


    transition: $hoverTransition;

    svg {
      position: relative;
      height: 25px;

      width: auto;
      margin: 15px 0 15px 10px;
    }
  }


  h2:hover {
    background-color: $primaryColor;
  }


  p {
    color: #777777;
    font-size: 0.8rem;
    font-style: italic;
  }
}

.post:hover {
  box-shadow: 0 0 13px 5px rgba(0, 0, 0, 0.173);
  // transform: scale(1.05) rotate(2deg);
  cursor: pointer;
}

// .post:hover:before {
//   background-color: rgba(0, 0, 0, 0);
// }

.portfolioPageWrapper {
  display: block;
  max-width: 800px;
  margin: 15px auto 60px auto;

  h2 {
    text-align: center;
    color: $whiteText;
    margin: 2rem 0 .5rem 0;
  }

  .portfolioPage {
    padding: 60px 60px 1px;
    background-color: #ffffff;
    background-color: #f6f4f2;
    border-radius: 10px 10px 0 0;
    position: relative;


    @include respond-below(sm) {
      padding: 30px 30px 1px;
    }

    @include respond-below(xs) {
      padding: 15px 15px 1px;
    }

    .zoomCoverImage {
      display: block;
      width: 42px;
      margin: -45px auto 15px;
      cursor: zoom-in;

      @include respond-below(sm) {
        margin: -15px auto 15px;
      }

      @include respond-below(xs) {
        margin: 0 auto 15px;
      }

    }

    .coverImage,
    .coverImage:active,
    .coverImage:focus {
      img {
        margin: 0px !important;
        border-radius: 3px;
        //pointer-events: none;
        //max-width: 800px !important;
        outline-width: 0 !important;
        width: 100% !important;
        max-width: 680px !important;
        height: auto !important;
      }
    }
  }

  .portfolioContent,
  .portfolioNav {
    display: flex;
    padding: 0;
    margin: 0px 15px 15px;
    position: relative;
    height: 40px;

    .previous,
    .next {
      font-size: 0.8rem;
      text-decoration: none;
      color: #eff0f1;
      position: absolute;
      left: 0px;
      justify-self: flex-start;
      display: flex;
      align-items: center;
      width: auto;

      >div {
        height: 40px;
        width: 40px;
        border-radius: 50%;
        border: 1px solid #738496;
        overflow: hidden;
        position: relative;


        img {
          display: block;
          width: 100% !important;
          max-width: 40px !important;
          height: auto !important;
          height: 40px !important;
          max-width: 40px !important;
        }
      }

      span {
        margin: 0 0 0 10px;
        text-transform: uppercase;
      }
    }

    .next {
      right: 0px;
      left: auto;
      flex-direction: row-reverse;

      span {
        margin: 0 10px 0;
      }
    }
  }

  .portfolioContent {
    border: none;
    padding: 35px 60px 25px;
    border-radius: 0 0 10px 10px;


    @include respond-below(sm) {
      padding: 30px 30px;
    }

    @include respond-below(xs) {
      padding: 15px 15px;
    }

    margin: 0;
    height: auto;
    background-color: #dedddb;




    p {
      margin-bottom: 0.3rem;
    }
  }

  .itemSizing {
    display: flex;
    width: fit-content;
    margin: 30px auto 0;

    svg {
      width: 25px;
      height: 25px;
      margin: 1px 10px 1px 20px;
    }

    p {
      font-size: 0.7rem;
      line-height: 0.8rem;
      margin-bottom: 0px;
      color: #5b6b7b;

      span {
        width: 20px;
        display: inline-flex;
      }

      span+span {
        width: auto;
        font-weight: bold;
      }
    }
  }

  p.year {
    display: inline-flex;
    font-size: 0.8rem;

    span {
      font-weight: bold;

      align-items: center;
    }
  }

  p.medium {
    text-align: center;
    font-size: 0.7rem;
    line-height: 0.8rem;
    text-transform: uppercase;
    margin: 7px 0 30px;
    color: #5b6b7b;

  }
}