@import "../styles/scss";

.footer {
  border-top:1px solid $headerBgColor;
  color: #f6f4f2;
  padding: 45px 60px 20px 60px;
  background-color: #253240;
  color: #788fa8;
  text-align: center;
  p {
  font-size: .9rem;
  color: #f6f4f2;
  margin-bottom: 10px;
}
p + p {
  font-size: .8rem;
  color: #bfdeff;
}
}
