.staticBgroundImge {
  //background: #404040;
  background: url(../img/lynn-bw-photo.jpg) no-repeat top center;
  background-size: cover;
  position: fixed !important;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -100;
}
