#myTopnav {
  width: 100%;
  z-index: 1000;
  display: flex;
  margin-bottom: 30px;
}

.sticky-nav {
  position: fixed;

  top: 0;
  left: 0;
  right: 0;
  //width: 100%;

  //background-color: rgba(43, 42, 43, 0.98);
  transition: all 0.5s ease-in-out;
  background-color: #c7419c;
}

.sticky-nav {
  ul {
    li {
      a {
        padding: 0.4rem 1rem !important;
      }

      a:hover:after {
        padding: 0 2.5rem;
        margin: 0 auto -8px;
        border-bottom: 1px solid #ffffff;
        transform: scaleX(1);
        // from center out
        transform: scaleX(1);
        // from right
        //transform-origin: 100% 50%;
        // from left
        //transform-origin: 0% 50%;
      }
    }
  }
}
